@use "../../styles/variables" as *;
@use "../../styles/breakpoints" as *;

.job-list {
  background-color: $color-bg;
  min-height: 100vh;
  padding: 5rem 0;

  @include respond-to("md") {
    padding: 2.5rem 0;
  }

  &__cards {
    display: grid;
    grid-gap: 1rem;

    @include respond-to("lg") {
      grid-gap: 3.5rem;
    }
  }
}
