@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.job-keyword {
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: all 0.2s;
  @include keyword-styling;

  &:hover {
    background-color: $color-dark-cyan;
    color: $color-white;
  }
}
