@use "../../styles/variables" as *;

.job-keyword {
  background-color: $color-keyword-bg;
  padding: 0.5rem;
  color: $color-dark-cyan;
  border: none;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: all 0.2s;

  &:hover {
    background-color: $color-dark-cyan;
    color: $color-white;
  }
}
