@use "../../styles/variables" as *;
@use "../../styles/breakpoints" as *;

.job-card {
  display: grid;
  grid-template-columns: min-content max-content 1fr;
  grid-row-gap: 0.5rem;
  align-items: center;
  padding: 1.8rem 2.9rem;
  font-weight: $fw-thick;
  align-items: start;
  position: relative;

  @include respond-to("md") {
    padding: 1.8rem 1.5rem;
    grid-row-gap: 1rem;
  }

  @include respond-to("lg") {
    padding-top: 3rem;
  }

  @include respond-to("md") {
    grid-template-columns: min-content 1fr;
  }

  &--new {
    border-left: 5px solid $color-dark-cyan;
  }

  &__img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    grid-row: 1 / 4;
    margin-right: 1.45rem;

    @include respond-to("lg") {
      position: absolute;
      top: -5rem;
      left: 2.5rem;
      width: 4rem;
      height: 4rem;
      margin-right: 0;
    }

    @include respond-to("md") {
      left: 1rem;
    }
  }

  &__head {
    grid-column: 2 / 3;
  }

  &__company {
    color: hsl(180, 29%, 50%);
    margin-right: 1rem;
    font-size: 1.1rem;
  }

  &__title {
    justify-self: start;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1.35rem;
    color: $color-grey-cyan-2;
    transition: all 0.2s;
    text-decoration: none;

    &:hover {
      color: $color-dark-cyan;
    }

    @include respond-to("md") {
      font-size: 1.1rem;
    }
  }

  &__details {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    color: $color-grey-cyan-1;
    font-size: 1.1rem;
    font-weight: $fw-thin;

    @include respond-to("md") {
      font-size: 1rem;
    }

    span:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__keywords {
    grid-row: 1/4;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-self: end;
    justify-content: start;
    align-self: center;
    margin-left: 5rem;
    grid-column: 3 / 4;

    @include respond-to("md") {
      grid-column: 1 / -1;
      grid-row: 4 / 5;
      justify-self: stretch;
      border-top: 1px solid rgba($color-grey-cyan-1, 0.5);
      padding-top: 1rem;
      margin-top: 0rem;
      margin-left: 0;
    }
  }
}
