$fw-thin: 500;
$fw-thick: 700;

$font-main: "League Spartan", sans-serif;

$color-white: white;
$color-bg: hsl(180, 52%, 96%);
$color-keyword-bg: hsl(180, 31%, 95%);
$color-dark-cyan: hsl(180, 29%, 50%);
$color-grey-cyan-1: hsl(180, 8%, 52%);
$color-grey-cyan-2: hsl(180, 14%, 20%);
