.filter-control {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  position: absolute;
  top: 7.5rem;
  left: 50%;
  width: 90%;
  max-width: 70rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  box-shadow: 10px 10px 19px -18px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 19px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 19px -18px rgba(0, 0, 0, 0.75);

  &__keywords {
    display: flex;
    gap: 1rem;
  }

  &__clear {
    color: hsl(180, 29%, 50%);
    background-color: transparent;
    border: none;
    font-weight: 700;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
