@use "../../styles/variables" as *;
@use "../../styles/breakpoints" as *;

.filter-control {
  padding: 1rem 2rem;
  position: absolute;
  top: 7.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;

  @include respond-to("md") {
    position: static;
    top: 0;
    left: 0;
    transform: none;
    flex-direction: column;
    gap: 3rem;
  }

  &__keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @include respond-to("md") {
      align-items: center;
    }
  }

  &__clear {
    color: $color-dark-cyan;
    background-color: transparent;
    border: none;
    font-weight: $fw-thick;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
